@media (min-width: 740px) {
    main {
        top: 8.4375vh;
    }
    h5 {
        font-weight: 200;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 1.9em;
        color: #000;
        padding: 0;
        line-height: 0.8em !important;
        text-transform: none;
        font-weight: 600;
    }
    h1 span {
        color: red;
        animation-delay: 2s;
        font-weight: 600;
    }
    .txt-rotate > .wrap {
        border-right: 0.08em solid #666;
    }
    .img_header {
        top:0;
        left:0;
        width: 8vw;
        height: auto;
    }
    .social {
        width: 100vw;
        height: 20vh;
        background: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo-1 {
        width: 16vh;
        height: auto;
    }
    .social-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vh;
        height: 18vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #cc3333, #ff9218);
        background-size: 100% 300%;
        background-position: 0% 300%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .social-youtube:hover {
        background-position: 0% 250%;
    }
    .social-vk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vh;
        height: 18vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #f8173e, #1dacd6);
        background-size: 100% 300%;
        background-position: 0% 300%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .logo-2 {
        width: 13vh;
        height: auto;
    }
    .social-vk:hover {
        background-position: 0% 250%;
    }
    .social-telegram {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vh;
        height: 18vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #00cccc, #7cfc00);
        background-size: 100% 300%;
        background-position: 0% 300%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .logo-3 {
        width: 16vh;
        height: 16vh;
    }
    .social-telegram:hover {
        background-position: 0% 250%;
    }
    .sec-nav {
        visibility: hidden;
    }
    #menu-toggle {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .menu-button-container {
        visibility: hidden;
    }
    .menu-button {
        visibility: hidden;
    }
    .class_5 {
        color: black;
        font-size: 3.5vw;
        letter-spacing: 4px;
        padding: 2%;
        background-color: #a9a9aa;
        border-top-left-radius: 17% 50%;
        border-top-right-radius: 17% 50%;
        border-bottom-left-radius: 17% 50%;
        border-bottom-right-radius: 17% 50%;
        text-decoration: none;
        transition: 0.5s;
    }
    .flex_header {
        height: 8.4375vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 90vw;
    }
    .flex_header div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 30vw;
        height: 100%;
    }
    .topic-class {
        top: 8.4375vw;
    }
    .class_font_h1 {
        margin-top: 8.4375vw;
        font-family: 'Skranji', cursive;
        font-size: 50px;
        text-align: center;
        z-index: 30000;
        line-height: 0.8em;
        text-transform: none;
    }
    .class_5:hover {
        font-size: 4vw;
        background-color: #61b15a;
    }
    .nav_class_header {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 8.4375vw;
        padding: 0;
        width: 100vw;
        background-color: #404040;
        margin: 0;
        align-items: center;
        text-align: center;
        opacity: 1;
        z-index: 100000;
        text-decoration: none;
    }
    .stacking_info_sticky {
        position: sticky;
        top: 8.4375vw;
        width: 125%;
        height: 12vw;
        z-index: 25;
    }
    .cards-2 {
        background: #333;
    }
    .card-2-1, .card-2-2, .card-2-3 {
        border-right: 0 0 25px solid linear-gradient(to top, #333 50%, blue 50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 12vw;
        height: 16vw;
        background: linear-gradient(to right, #403050 50%, #101040 50%);
        box-shadow: 0px 0px 10px black;
        z-index: 8888;
        pointer-events: visible;
        transition: all 1.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transform-style: preserve-3d;
    }
    .card-number-2-1, .card-number-2-2, .card-number-2-3 {
        position: absolute;
        font-size: 3rem;
        font-weight: bold;
        font-family: Arial;
        color: blue;
        margin-left: 4vw;
        margin-top: 0vw;
        opacity: 0.05;
        transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .cards-2:hover > div:not(:hover){
        opacity: 0.4;
    }
    .cards-2:hover > div:hover > div:first-child {
        opacity: 1;
        margin-top: -12vw;
    }
    .cards-2:hover > div:hover > div:last-child {
        opacity: 1;
    }
    .card-title2 {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Trebuchet MS';
        z-index: 10000;
        color: white;
        margin-top: -1rem;
    }
    .card-text2 {
        color: white;
        margin-bottom: 2.75rem;
    } 
    .card-link {
        background: white;
        color: black;
        text-decoration: none;
        padding: 0.75rem;
    }
    .sticky_other {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 5vh;
        height: auto;
        width: 100vw;
        background-color: #fff;
        z-index: 50;
    }
    .form_class {
        background-color: #a18594;
        margin-bottom: 5vh;
    }
    .all-content-aritcle {
        top: 8.4375vw;
        width: 100vw;
    }
    .menu {

        display: none;
    }
    .aside_social {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-img {
        width: 90vw;
        height: 50vh;
    }
    .grid-blocks-wrap {
        height: 80vh;
        width: 100vw;
        z-index: 100;
        background-color: #101020;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-blocks-contain {
        height: 95%;
        width: 78%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row dense;
        /*justify-items: center;
        align-items: center;*/
        gap: 0.5rem;
    }
    .grid-blocks-contain div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        color: #fff;
        transition: 0.75s cubic-bezier(0.725, 0.510, 0.455, 1);
    }
    .grid-blocks-contain div:hover {
        background-color: crimson;
        box-shadow: inset 0 0 40px #ab274f;
    }
    .grid-block-1 {
        grid-column: span 2;
    }
    .grid-block-2 {
        grid-row: span 2;
    }
    .grid-block-4 {
        grid-row: span 2;
    }
    .grid-block-7 {
        grid-column: span 3;
    }
    .useless-reg-wrap {
        z-index: 5000;
        background-color: #111;
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .useless-button {
        padding: .75rem 2rem;
        background-color: white;
        border-radius: 30px;
        user-select: none;
        outline: none;
        border:none;
        font-size: 1.1rem;
        font-family: 'Arial Narrow';
        font-weight: bold;
        cursor: pointer;
        grid-column: span / 2;
        margin-bottom: 3vh;
    }
    .useless-form {
        width: 70vw;
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
    .useless-form div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .useless-form div div label {
        color: whitesmoke;
        font-family: fantasy;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
        min-height: 100%;
        max-height: 100%;
        border-bottom: 2px solid #00cccc;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .useless-form div div {
        min-width: 60%;
        padding-bottom: 5px;
    }
    .useless-reg-title {
        color: whitesmoke;
        font-family: fantasy;
        font-weight: bold;
        text-indent: 4px;
        letter-spacing: 2.5px;
        font-size: 2rem;
    }
    .useless-form div div input{
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        margin-left: 10px;
        box-shadow: none;
        background-color: #111;
        opacity: 0; 
        padding: 12px 0;
        border: none;
        color: white;
        position: relative;
    }
    .useless-form div div label:focus-within {
        font-size: 0.7rem;
        transform: translateY(-30px) translateX(100px);
        border-bottom: 0px #00cccc;
    }
    .useless-form div div input:focus {
        transform: translateY(30px) translateX(-100px);
        background-color: #00cccc;
        opacity: 1;
    }
    .useless-form div::after {
        height: 4px;
        width: 100%;
        background-color: #00cccc;
        border-radius: 6px;
        z-index: 200;
    }
    .footer-wrap {
        background-color: #1974d2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 4vh 4vw;
        gap: 10vh;
        width: 92vw;
        height: auto;
    }
    footer div h3 span{
        width: 100%;
        padding-top: 0.3rem;
        border-bottom: 2px solid #ffff66;
    }
    footer div h3 {
        color: #fff;
    }
    footer div p {
        color: #fff;
    }
    footer address h3 {
        color: #fff;
    }
    footer address p {
        color: #fff;
    }
    footer div p a {
        color: #fff;
        text-decoration: none;
        transition: 0.65s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    footer div p a:hover {
        transform: scale(110%, 110%);
        background-color: #dad;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
    footer address p a {
        color: #fff;
        text-decoration: none;
    }
    footer address h3 span{
        width: 100%;
        padding-top: 0.3rem;
        border-bottom: 2px solid #ffff66;
    }
}
@media (max-width: 739px) {
    body {
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 10vw 90vh;
        grid-template-areas: "hd hd as mf";
        min-width: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }
    header {
        grid-area: hd;
    }
    .img_header {
        position: absolute;
        top: 0;
        left: 5vw;
        width: 10vw;
        height: auto;
    }
    .aside_social {
        top: calc((100vh - 10vw) / 2 + 10vw);
        left: 10vw; 
        grid-area: as;
        background: #333;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 10000;
    }
    .social {
        grid-area: as;
        height: calc(100vh - 10vw);
        width: 20vw;
        background: #333;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 10000;
    }
    .logo-1 {
        width: 12vh;
        height: auto;  
    }
    .social-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #cc3333, #ff9218);
        background-size: 100% 300%;
        background-position: 0% 0%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .social-youtube:hover {
        background-position: 0% -50%;
    }
    .social-vk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #f8173e, #1dacd6);
        background-size: 100% 300%;
        background-position: 0% 0%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .logo-2 {
        width: 10vh;
        height: auto;
    }
    .social-vk:hover {
        background-position: 0% -50%;
    }
    .social-telegram {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        background: linear-gradient(to bottom, #555 33%, #00cccc, #7cfc00);
        background-size: 100% 300%;
        background-position: 0% 300%;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.6, -0.2, 0.4, 1.2)
    }
    .logo-3 {
        width: 12vh;
        height: auto;
    }
    .social-telegram:hover {
        background-position: 0% 250%;
    }
    .sticky_other div img {
        width: 80vw;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 6px;
        width: 80px;
        margin-top: 10vw;
        margin-right: -30vw;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 6px;
        z-index: 200;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
        
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
        
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    .menu-button::before {
    content: '';
    margin-top: -16px;
    }

    .menu-button::after {
    content: '';
    margin-top: 16px;
    }
    .menu-toggle {
        visibility: hidden;
        position: absolute;
    }
    input[type="checkbox" i] {
        display: none;
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 0;
        padding: initial;
        border: initial;
    }
    .menu-button-container {
        border: none;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-nav {
        display: block;
    }
    .list-links {
        width: 40vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu {
        margin: 0;
        display: flex;
        position: absolute;
        justify-items: space-between;
        align-items: center;
        opacity: 0;
        flex-direction: column;
        list-style-type: none;
        right: 0;
        top: -100vh;
        height: 100vh;
        width: 45vw;
        transition: top 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu-wrap {
        width: 0;
        height: 0;
    }
    #menu-toggle:checked ~ .menu-wrap .menu{
        opacity: 1;
        top: 0vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        position: absolute;
        border: 1px solid #333;
        background: linear-gradient(#4c5866, 50%, #1974d2);
        /*background: linear-gradient(#7a3d00, #a12312, #edff21);*/
        text-align: center;
        font-size: 3.75vh;
    }
    .footer-wrap {
        background-color: #1974d2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        padding-left: 2vw;
        width: 76vw;
        z-index: 3000;
        height: auto;
    }
    footer div h3 span{
        width: 100%;
        padding-top: 0.3rem;
        border-bottom: 2px solid #ffff66;
    }
    footer div h3 {
        color: #fff;
    }
    footer div p {
        color: #fff;
    }
    footer address h3 {
        color: #fff;
    }
    footer address p {
        color: #fff;
    }
    footer div p a {
        color: #fff;
        text-decoration: none;
    }
    footer address p a {
        color: #fff;
        text-decoration: none;
    }
    footer address h3 span{
        width: 100%;
        padding-top: 0.3rem;
        border-bottom: 2px solid #ffff66;
    }
    footer {
        z-index: 5000;
    }
    .flex_header {
        display: none;
        justify-content: space-around;
        width: 90vw;
    }
    .all-content-article {
        grid-area: mf;
        margin-top: 10vw;
        margin-left: -80vw;
        width: 80vw;
        
    }
    .class_5 {
        color: whitesmoke;
        margin: 0;
        padding: 2%;
        border-top-left-radius: 17% 50%;
        border-top-right-radius: 17% 50%;
        border-bottom-left-radius: 17% 50%;
        border-bottom-right-radius: 17% 50%;
        text-decoration: none;
        transition: 0.5s;
    }
    .class_font_h1 {
        width: 80vw;
        font-family: 'Skranji', cursive;
        font-size: 2.75vh;
        text-align: center;
        line-height: 0.8em;
        text-transform: none;
    }
    .class_5:hover {
        font-size: 3vh;
        background-color: #61b15a;
    }
    .stacking_info_sticky {
        position: sticky;
        top:10vw;
        height: 35%;
        z-index: 25;
        font-size: 1.75vh;
        font-weight: bold;
    }
    .sticky_other {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 5vh;
        width: 80vw;
        height: auto;
        background-color: #fff;
        z-index: 50;
    }
    .nav_class_header {
        grid-area: hd;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 10vw;
        width: 100vw;
        background-color: #404040;
        margin: 0;
        opacity: 1;
        z-index: 100000;
        text-decoration: none;
    }
    .form_class {
        background-color: #a18594;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        font-size: 2.5vh;
    }
    .card-1, .card-2, .card-3, .card-4 {
        margin-top: 10vh;
    }
    .bgc-card-1 {
        position: absolute;
        content: '';
        width: 11vw;
        height: 16vw;
        margin-top: 3vh;
        margin-left: 4vw; 
        transform: skew(15deg);
        background: linear-gradient(135deg, #cc3333, #ff9218);
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .bgc-card-2 {
        position: absolute;
        content: '';
        width: 11vw;
        height: 16vw;
        margin-top: 3vh;
        margin-left: 4vw; 
        transform: skew(15deg);
        background: linear-gradient(135deg, #f8173e, 40%, #1dacd6);
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .bgc-card-3 {
        position: absolute;
        content: '';
        width: 11vw;
        height: 16vw;
        margin-top: 3vh;
        margin-left: 4vw; 
        transform: skew(15deg);
        background: linear-gradient(135deg, #00cccc, 60%, #7cfc00);
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .bgc-card-4 {
        position: absolute;
        content: '';
        width: 11vw;
        height: 16vw;
        margin-top: 3vh;
        margin-left: 4vw; 
        transform: skew(15deg);
        background: linear-gradient(135deg, #f754e1, 60%, #4c5866);
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .card-1-glassy {
        position: absolute;
        width: 11vw;
        height: 16vw;
        background: linear-gradient(135deg, #cc3333, #ff9218);
        opacity: 0.3;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .card-1-glassy::after {
        content: '';
        position: absolute;
        inset: -5px;
        width: 11vw;
        height: 16vw;
        margin-top: -0.3vh;
        margin-left: -0.3vw;
        opacity: 1;
        background: linear-gradient(135deg, #cc3333, #ff9218);
        backdrop-filter: blur(8px);
    }
    .card-2-glassy {
        position: absolute;
        width: 11vw;
        height: 16vw;
        background: linear-gradient(135deg, #f8173e, 40%, #1dacd6);
        opacity: 0.3;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .card-2-glassy::after {
        content: '';
        position: absolute;
        inset: -5px;
        width: 11vw;
        height: 16vw;
        margin-top: -0.3vh;
        margin-left: -0.3vw;
        opacity: 1;
        background: linear-gradient(135deg, #f8173e, 40%, #1dacd6);
        backdrop-filter: blur(8px);
    }
    .card-3-glassy {
        position: absolute;
        width: 11vw;
        height: 16vw;
        background: linear-gradient(135deg, #00cccc, 60%, #7cfc00);
        opacity: 0.3;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .card-3-glassy::after {
        content: '';
        position: absolute;
        inset: -5px;
        width: 11vw;
        height: 16vw;
        margin-top: -0.3vh;
        margin-left: -0.3vw;
        opacity: 1;
        background: linear-gradient(135deg, #00cccc, 60%, #7cfc00);
        backdrop-filter: blur(8px);
    }
    .card-4-glassy {
        position: absolute;
        width: 11vw;
        height: 16vw;
        background: linear-gradient(135deg, #f754e1, 60%, #4c5866);
        opacity: 0.3;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .card-4-glassy::after {
        content: '';
        position: absolute;
        inset: -5px;
        width: 11vw;
        height: 16vw;
        margin-top: -0.3vh;
        margin-left: -0.3vw;
        opacity: 1;
        background: linear-gradient(135deg, #f754e1, 60%, #4c5866);
        backdrop-filter: blur(8px);
    }
    .card-1-contain, .card-2-contain, .card-3-contain, .card-4-contain {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 7vw;
        margin-top: 5vh;
        margin-left: 0vw;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 1.5rem;
        backdrop-filter: blur(10px);
    }
    .card-title {
        font-size: 1.2rem;
        padding-top: 0.5rem;
    }
    .card-text {
        font-size: 1rem;
    }
    .card-link {
        margin-top: -1rem;
        display: block;
        width: 50%;
        margin: auto;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.2rem;
        background: lightgray;
        color: black;
        font-size: 0.8rem;
    }
    .card-1:hover .bgc-card-1, .card-2:hover .bgc-card-2, .card-3:hover .bgc-card-3, .card-4:hover .bgc-card-4{
        transform: skew(0deg);
    }
    .card-1:hover .card-1-contain, .card-2:hover .card-2-contain, .card-3:hover .card-3-contain, .card-4:hover .card-4-contain {
        box-shadow: 0px 0px 1.5px 1.5px rgba(255, 255, 255, 0.6);
    }
    .card-1:hover .moving-cube01, .card-1:hover .moving-cube02 {
        display: block;
        animation-play-state: running;
    }
    .card-2:hover .moving-cube01, .card-2:hover .moving-cube02 {
        display: block;
        animation-play-state: running;
    }
    .card-3:hover .moving-cube01, .card-3:hover .moving-cube02 {
        display: block;
        animation-play-state: running;
    }
    .card-4:hover .moving-cube01, .card-4:hover .moving-cube02 {
        display: block;
        animation-play-state: running;
    }
    .moving-cube01 {
        display: none;
        z-index: 9999;
        margin-left: 30vw;
        position: absolute;
        animation-name: moveUpDown;
        width: 7.5vw;
        height: 7.5vw;
        background-color: rgba(220, 220, 220, 0.45);
        border-radius: 0.5rem;
        backdrop-filter: blur(3px);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 4s;
        animation-timing-function: steps(100, jump-none);
        animation-play-state: paused;
    }
    .moving-cube02 {
        margin-top: 10vh;
        display: none;
        z-index: 9999;
        position: absolute;
        animation-name: moveLeftRight;
        width: 7.5vw;
        height: 7.5vw;
        background-color: rgba(220, 220, 220, 0.45);
        border-radius: 0.5rem;
        backdrop-filter: blur(3px);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 4s;
        animation-timing-function: steps(100, jump-none);
        animation-play-state: paused;
    }
    @keyframes moveUpDown {
        0%{transform: none;}
        100%{transform: translateY(-2.5vh);}
    }
    @keyframes moveLeftRight {
        0%{transform: none;}
        100%{transform: translateX(-2.5vh);}
    }
    .grid-blocks-wrap {
        height: 80vh;
        width: 100vw;
        z-index: 90;
        background-color: #101020;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-blocks-contain {
        height: 95%;
        width: 78%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row dense;
        /*justify-items: center;
        align-items: center;*/
        gap: 0.5rem;
    }
    .grid-blocks-contain div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        color: #fff;
        transition: 0.75s cubic-bezier(0.725, 0.510, 0.455, 1);
        padding: auto;
        text-align: center;
    }
    .grid-blocks-contain div:hover {
        background-color: crimson;
        box-shadow: inset 0 0 40px #ab274f;
    }
    .grid-block-1 {
        grid-column: span 2;
    }
    .grid-block-2 {
        grid-row: span 2;
    }
    .grid-block-4 {
        grid-row: span 2;
    }
    .grid-block-7 {
        grid-column: span 3;
    }
    .useless-reg-wrap {
        z-index: 90;
        background-color: #111;
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .useless-button {
        padding: .75rem 2rem;
        background-color: white;
        border-radius: 30px;
        user-select: none;
        outline: none;
        border:none;
        font-size: 1.1rem;
        font-family: 'Arial Narrow';
        font-weight: bold;
        cursor: pointer;
        grid-column: span / 2;
        margin-bottom: 3vh;
    }
    .useless-form {
        width: 70vw;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1ft;
        gap: 5px;
    }
    .useless-form div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .useless-form div div label {
        color: whitesmoke;
        font-family: fantasy;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
        min-height: 100%;
        max-height: 100%;
        border-bottom: 2px solid #00cccc;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .useless-form div div {
        min-width: 60%;
        padding-bottom: 5px;
    }
    .useless-reg-title {
        color: whitesmoke;
        font-family: fantasy;
        font-weight: bold;
        text-indent: 4px;
        letter-spacing: 2.5px;
        font-size: 2rem;
    }
    .useless-form div div input{
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        margin-left: 10px;
        box-shadow: none;
        background-color: #111;
        opacity: 0; 
        padding: 12px 0;
        border: none;
        color: white;
        position: relative;
    }
    .useless-form div div label:focus-within {
        font-size: 0.7rem;
        transform: translateY(-30px) translateX(100px);
        border-bottom: 0px #00cccc;
    }
    .useless-form div div input:focus {
        transform: translateY(30px) translateX(-100px);
        background-color: #00cccc;
        opacity: 1;
    }
    .useless-form div::after {
        height: 4px;
        width: 100%;
        background-color: #00cccc;
        border-radius: 6px;
        z-index: 200;
    }
    .card-2-1, .card-2-2, .card-2-3 {
        border-right: 0 0 25px solid linear-gradient(to top, #333 50%, blue 50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 20vw;
        height: 30vw;
        background: linear-gradient(to right, #403050 50%, #101040 50%);
        box-shadow: 0px 0px 10px black;
        z-index: 8888;
        pointer-events: visible;
        transition: all 1.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transform-style: preserve-3d;
    }
    .card-number-2-1, .card-number-2-2, .card-number-2-3 {
        position: absolute;
        font-size: 3rem;
        font-weight: bold;
        font-family: Arial;
        color: blue;
        margin-left: 4vw;
        margin-top: 0vw;
        opacity: 0.05;
        transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .cards-2:hover > div:not(:hover){
        opacity: 0.4;
    }
    .cards-2:hover > div:hover > div:first-child {
        opacity: 1;
        margin-top: -12vw;
    }
    .cards-2:hover > div:hover > div:last-child {
        opacity: 1;
    }
    .card-title2 {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Trebuchet MS';
        z-index: 10000;
        color: white;
        margin-top: -1rem;
    }
    .card-text2 {
        color: white;
        margin-bottom: 2.75rem;
    } 
    .card-link {
        background: white;
        color: black;
        text-decoration: none;
        padding: 0.75rem;
    }
    h5 {
        font-weight: 200;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 1.9em;
        color: #000;
        padding: 0;
        line-height: 0.8em !important;
        text-transform: none;
        font-weight: 600;
    }
      h1 span {
        color: red;
        animation-delay: 2s;
        font-weight: 600;
    }
      h5 span {
        color: red;
        animation-delay: 2s;
        font-weight: 600;
    }
      
      .txt-rotate > .wrap {
        border-right: 0.08em solid #666;
    }
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
article {
    display: flex;
    flex-wrap: wrap;
}
header {
    z-index: 100;
}
.class_1 {
    color:magenta;
    padding: 10px;
}
.class_2 {
    color:aqua;
    padding: auto;
}
.class_3 {
    color:darkgoldenrod;
    text-shadow: darkgrey 2px 2px 4px;
}
.class_4 {
    border-radius: 5px 10%;
    background-color: crimson;
    background-position: 10%;
    padding: 10px 100px 10px 30px;
    margin-right: 1200px;
}
#id_1 {
    color:firebrick;
    text-shadow:khaki 4px 5px 7px;
}
.color_class_1 {
    background-color: #eeeeee;
    padding-left: 1.5%;
    padding-right: 5%;
}
.color_class_2 {
    background-color: #dddddd;
    padding-left: 1.5%;
    padding-right: 5%;
}
.color_class_3 {
    background-color: #cccccc;
    padding-left: 1.5%;
    padding-right: 5%;
}
.color_class_4 {
    background-color: #bbbbbb;
    padding-left: 1.5%;
    padding-right: 5%;
}
.color_class_5 {
    background-color: #aaaaaa;
    padding-left: 1.5%;
    padding-right: 5%;
}
nav > div {
    width: 20vw;
    text-align: center;
}

h2 {
    font-weight: bolder;
    font-size: 1.75vh;
    padding-left: 1.5%;
}
.registration-wrap {
    margin-top: 5vh;
    z-index: 50;
    position: relative;
    display: block;
    width: 100vw;
    height: 80vh;
    background-color: #240935;
}
.halo-light {
    animation: spin 4s linear infinite;
    z-index: 933;
    content: '';
    position: absolute;
    width: 35vw;
    height: 35vw;
    margin-left: 32.5vw;
    margin-top: 2vw;
    border-radius: 50%;
    opacity: 0.75;
    /*background: radial-gradient(#dad, #fff);*/
    backdrop-filter: blur(30px);
}
@keyframes spin { 
    0% {
        box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px #dad,
        inset -20px 0 60px #1e90ff,
        inset 20px 0 300px #dad,
        inset -20px 0 300px #1e90ff,
          0 0 50px #fff,
          -10px 0 60px #dad,
          10px 0 60px #1e90ff;
    }
    50% { 
        -webkit-transform: rotate(360deg); transform:rotate(360deg);
        box-shadow:
        inset 0 0 100px #fff,
        inset 20px 0 80px #dad,
        inset -20px 0 80px #1e90ff,
        inset 20px 0 300px #dad,
        inset -20px 0 300px #1e90ff,
          0 0 100px #fff,
          -10px 0 80px #dad,
          10px 0 80px #1e90ff;
    }
    100% {
        box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px #dad,
        inset -20px 0 60px #1e90ff,
        inset 20px 0 300px #dad,
        inset -20px 0 300px #1e90ff,
          0 0 50px #fff,
          -10px 0 60px #dad,
          10px 0 60px #1e90ff;
    }
 }
 @keyframes moveUpDown {
    0%{transform: none;}
    100%{transform: translateY(-2.5vh);}
}
@keyframes moveLeftRight {
    0%{transform: none;}
    100%{transform: translateX(-2.5vh);}
}
@keyframes moveDiagonal1 {
    0%{transform: none;}
    100%{transform: translateX(-2.5vh); transform: translateY(-2.5vh);}
}
 .registration-content {
    z-index: 944;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 25vw;
    margin-left:37.5vw;
    margin-top: 7vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8.5rem;
    backdrop-filter: blur(10px);
 }
.moving-cube {
    display: block;
    z-index: 9999;
    margin-left: 40vw;
    margin-bottom: 20vw;
    position: absolute;
    animation-name: moveUpDown;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
    animation-delay: -2s;
}
.moving-cube2 {
    margin-top: 10vh;
    margin-left: -35vw;
    display: block;
    z-index: 9999;
    position: absolute;
    animation-name: moveLeftRight;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
    animation-delay: -2s;
}
.moving-cube3 {
    margin-top: -25vh;
    margin-left: -75vw;
    display: block;
    z-index: 9999;
    position: absolute;
    animation-name: moveDiagonal1;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
}
.moving-cube4 {
    margin-top: 25vh;
    margin-left: 75vw;
    display: block;
    z-index: 9999;
    position: absolute;
    animation-name: moveLeftRight;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
    animation-delay: -2s;
}
.moving-cube5 {
    margin-top: 45vh;
    margin-left: -65vw;
    display: block;
    z-index: 9999;
    position: absolute;
    animation-name: moveDiagonal1;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
    animation-delay: -2s;
}
.moving-cube6 {
    margin-top: 45vh;
    margin-left: 30vw;
    display: block;
    z-index: 9999;
    position: absolute;
    animation-name: moveLeftRight;
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(220, 220, 220, 0.45);
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-timing-function: steps(100, jump-none);
}
.registration-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.registration-title::before {
    position: absolute;
    margin-top: 5vh;
    width: 20vw;
    border: 4px solid #fff;
}
:root {
    --main-input-color: #fff;
}
.login-input, .password-input {
    width: 75%;
    padding: 0.375rem 0.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: var(--main-input-color);
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    margin-left: 1.5vw;
}
.login-input::placeholder, .password-input::placeholder {
    color: #212529;
    opacity: 0.6;
}
.registration-button {
    padding: .75rem 2rem;
    background-color: white;
    border-radius: 30px;
    user-select: none;
    outline: none;
    border:none;
    font-size: 1.1rem;
    font-family: 'Arial Narrow';
    font-weight: bold;
    cursor: pointer;
    margin-left: 2vw;
}
.reg-moreinfo {
    letter-spacing: 1px;
    font-size: 1rem;
    color: white;
}
.reg-moreinfo2 {
    letter-spacing: 0px;
    font-size: 1rem;
    color: white;
    margin-left: 2vw;
}
.reg-link {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration-skip-ink: none;
}
.cards-1, .cards-2 {
    background: #333;
    z-index: 50;
    position: relative;
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;
}
.cards-1 {
    background: linear-gradient(135deg, #f39f18, #8c4566);
}
.card-title-1-1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    z-index: 10000;
    color: white;
    margin-top: -1rem;
}
.card-title-1-2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    z-index: 10000;
    color: white;
    margin-top: -8rem;
}
.card-title-1-3 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    z-index: 13000;
    color: white;
    margin-top: -8rem;
}
.card-1-1, .card-1-2, .card-1-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12vw;
    height: 16vw;
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 2rem;
    z-index: 8888;
    pointer-events: visible;
    transition: all 1.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.card-1-1-contain {
    content: "";
    position: absolute;
}
.card-1-1::before {
    content: "";
    position: relative;
    width: 12vw;
    background: #f3da0b;
    top: -28%;
    z-index: -1;
    border-bottom-right-radius: 50%;
    height: 7vw;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.card-1-2::before {
    content: "";
    position: relative;
    width: 12vw;
    background: #c8385a;
    top: -16.9%;
    z-index: -1;
    border-bottom-right-radius: 50%;
    height: 7vw;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.card-1-3::before {
    content: "";
    position: relative;
    width: 12vw;
    background: #f754e1;
    top: -16.9%;
    z-index: -1;
    border-bottom-right-radius: 50%;
    height: 7vw;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.bgc-card-1-1, .bgc-card-1-2, .bgc-card-1-3 {
    z-index: 99999;
    opacity: 0;
    content: "";
    position: absolute;
    width: 12vw;
    height: 16vw;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
    transition: all 1.8s cubic-bezier(0.485, 0.235, 0.15, 0.86);
}
.card-text-1 {
    margin-bottom: 1.75rem;
}

.card-link-1-1 {
    text-decoration: none;
    padding: 0.75rem;
    background: #f3da0b;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    border-radius: 2rem;
    pointer-events: all;
}
.card-link-1-2 {
    text-decoration: none;
    padding: 0.75rem;
    background: #c8385a;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    border-radius: 2rem;
}
.card-link-1-3 {
    text-decoration: none;
    padding: 0.75rem;
    background: #f754e1;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    border-radius: 2rem;
}
.cards-1:hover > div:not(:hover) > div{
    opacity: 1;
}
.cards-1:hover > div:not(:hover){
    transform: scale(90%, 90%);
}
.cards-1:hover > div:not(:hover).cards-1-1:not(:hover)::after {
    margin-top: -1.8vw;
}
html {
    overflow-x: hidden;
}